.idea
CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
_deps
CMakeUserPresets.json
.clang-format
reverse
trash
mathlog
cmake-*
*.in
*.out
*.enc
*__pycache__
*.o

leetcode/*/sol*
!leetcode/*/sol*.cpp

**/test/*
**/gentest.py
*.cmake

